<div id="sideBar" th:fragment="navBar" class="mainSideBar d-flex flex-column flex-shrink-0 p-3 text-white">
    <img src="images/logo.png" style="width: 100%;">
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li>
            <a href="#" class="nav-link active" aria-current="page">
                <i class="fa-solid fa-house"></i>
                Home
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <i class="fa-solid fa-user"></i>
                Profile
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <i class="fa-solid fa-computer"></i>
                AI Planning
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <i class="fa-solid fa-bell"></i>
                Notifications
            </a>
        </li>
        <li>
            <a href="/getVehicleListToCreateQuotation" class="nav-link text-white">
                <i class="fa-solid fa-file-invoice-dollar"></i>
                Create Quotation
            </a>
        </li>
        <li>
            <a href="/logout" class="nav-link text-white">
                <i class="fa-solid fa-right-from-bracket"></i>
                Logout
            </a>
        </li>
    </ul>
    <hr>
</div>