.bg-gradient1-custom {
    background: linear-gradient(135deg, #ff7e5f, #ffe8d6);
    min-height: 100vh;
}

.bg-gradient2-custom {
    background: linear-gradient(135deg, #ffffff, #ffdcc4);
    min-height: 100vh;
}

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.loginBox {
    width: 60%;
    height: 500px;
    text-align: center;
}

.box button {
    width: 75%;
    height: 8%;
    background-color: #ff7e5f;
    border: none;
}

.rounded-input-bootstrap {
    width: 100%;
    height: 8%;
    border: 1px solid #969696;
    border-radius: 50px;
    padding: .5rem .75rem;
    box-shadow: none;
    transition: box-shadow .15s ease, border-color .15s ease;
}

.search-vehicle-list-input {
    width: 500px;
    height: 50px;
    border: 1px solid #969696;
    border-radius: 50px;
    padding: .5rem .75rem;
    box-shadow: none;
    transition: box-shadow .15s ease, border-color .15s ease;
}

.form-control {
    width: 75%;
    margin-left: 12.5%;
}

.mainSideBar {
    width: 12%;
    height: 100vh;
    background: linear-gradient(135deg, #2b2b2b, #ff6b16);
}

.mainSideBar .nav-link.active {
    background-color: #ff6b16;
}

.mainSideBar .nav-link:not(.active):hover {
    background-color: #ff9c5b;
}

.mainSideBar .nav-link {
    transition: background-color 0.4s, color 0.4s;
}

.navBarIcon {
    width: 25%;
    height: 50%;
}

.topToolBar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: white;
    padding: 1px 50px;
}