<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/homePageStyle.css">
    <link rel="stylesheet" href="/css/mainPageStyle.css">
    <link rel="stylesheet" href="/css/iconStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
          integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>

<body class="bg-gradient2-custom">

<button class="mobile-menu-toggle" id="menuToggleBtn">
    <i class="fa-solid fa-bars"></i>
</button>

    <div class="d-flex">

        <div th:replace="mainPage/navBarFragment :: navBar"></div>

        <div class="mainContent flex-grow-1 p-3">

            <div class="d-flex">
                <h2>This is a navigation link.</h2>
            </div>

            <h1>Welcome <span style="color: #ff9c5b" th:text="${session.user.username}">User</span>,</h1>

            <div class="d-flex">

                <div class="d-flex" style="justify-content: center; align-items: center; padding: 35px;">
                    <a href="/evmOrderList" style="text-decoration: none;">
                        <button class="icon-btn">
                            <i class="fa-solid fa-clipboard-user"></i>
                            <span>
                            Order
                            </span>
                        </button>
                    </a>
                </div>

                <div class="d-flex" style="justify-content: center; align-items: center; padding: 35px;">
                    <a href="/evmOrderHistory" style="text-decoration: none;">
                        <button class="icon-btn">
                            <i class="fa-solid fa-clock-rotate-left"></i>
                            <span>
                            Order History
                            </span>
                        </button>
                    </a>
                </div>

            </div>

        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/scripts/navBarMenuProject.js"></script>

</body>

</html>